@inherits LayoutComponentBase

<PageTitle>pax.BlazorChess</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <TopRowComponent></TopRowComponent>
        <article class="content px-4">
            @Body
        </article>
        <BlazoredToasts />
    </main>
</div>
