@using pax.BlazorChess.Services

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">pax.BlazorChess</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="review" Match="NavLinkMatch.All">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Game Review
            </NavLink>
        </div>
@*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="analyzes" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Analyze
            </NavLink>
        </div>
*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="enginevsengine" Match="NavLinkMatch.All">
                <span class="oi oi-sun" aria-hidden="true"></span> EngineVsEngine
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="database" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> Database
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="config" Match="NavLinkMatch.All">
                <span class="oi oi-cog" aria-hidden="true"></span> Config
            </NavLink>
        </div>
    </nav>
</div>
<div class="ms-3">
    <br />
    <br />
    <UpdateComponent></UpdateComponent>
    <br />
    <span class="badge badge-dark">@($"v{ElectronService.CurrentVersion}")</span>
</div>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
