<style>
    .top-row {
        justify-content: flex-start;
        height: 2.5rem;
        display: flex;
        align-items: center;
    }

        .top-row ::deep a, .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

</style>

<div class="top-row bg-secondary px-1">
    <div class="ms-auto"></div>
    <UpdateComponent></UpdateComponent>
</div>

@code {

}
